.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px+2vmin);
  color:white
}

.usuario{
  background-color: #fff;
  color:#282c34;
  padding:10px;
  margin:10px;
  border-radius:8px;
  box-shadow: 0 4px 8px rgba (0,0,0,0.2);
  width:300px;
  text-align: left;
}

.usuario h2{
  font-size: 1.5rem;
  margin:0;
}

.usuario p{
  margin:5px 0;
  font-size: 1rem;
}
.formulario{
  margin-bottom: 20px;
}

.formulario select{
  padding:5px;
  font-size: 1rem;
}

/* Estilo para el botón "Continuar" */
.continuar-btn {
  background-color: #61dafb;
  color: #282c34;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s ease;
}

.continuar-btn:hover {
  background-color: #21a1f1;
}

/* Añade este bloque en tu App.css */
.nombre-empresa {
  font-size: 1.5rem;
  color: #61dafb;
  margin-bottom: 20px;
}
